.button {
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  height: 4rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: cursive;
  background-color: #ff6e6c;
  border-radius: 0.5rem;
  border: 1px solid #1f1235;
  color: #fff;
  cursor: pointer;
  user-select: none;
  box-shadow: 1px 1px 4px #1f1235;
}
.button:hover {
  box-shadow: 2px 2px 3px #1f1235 inset;
}
.button--operator {
  background-color: #67568c;
}
.button--evaluate {
  font-size: 2rem;
  border-radius: 1rem;
  background-color: #fbdd74;
  color: #1f1235;
}
