* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #e0e0e0;
}
.device_info {
  font-size: 18px;
  padding: 25px;
}
.device_info__span {
  color: red;
  font-weight: bold;
}

.exclusive {
  padding: 5px;
  border: 1px solid #c4a;
  color: blueviolet;
  text-transform: capitalize;
  text-align: center;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}
