* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cards {
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  border-radius: 20px;
  width: 220px;
  overflow: hidden;
  box-shadow: 2px 2px 10px #000;
}
.header-card {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-card img {
  display: block;
  box-shadow: 2px 2px 10px #000;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.info-card {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.info-card p {
  font-size: 18px;
}
.info-card span {
  color: #111;
  font-size: 16px;
}
.footer-card {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.footer-card ul {
  display: flex;
  list-style: none;
  width: 200px;
  justify-content: space-evenly;
}
.footer-card i {
  color: #fff;
  text-shadow: 2px 3px 10px #000;
}
.footer-card i:hover {
  color: #000;
  text-shadow: 2px 3px 3px #fff inset;
}
