* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #4e3bbb;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2016/05/24/16/48/mountains-1412683_1280.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.container_login {
  border-radius: 2rem;
  overflow: hidden;
  width: 20rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.171);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.26);
}
.container_login__h2 {
  padding: 2rem;
  text-align: center;
  font-family: cursive;
}
/* Form */
.login {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 2rem;
  gap: 1rem;
}
#user_name,
#user_password {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 1rem;
  box-shadow: 1px 1px 4px var(--main-color);
  background: transparent;
}
#user_name::placeholder,
#user_password::placeholder {
  color: #444;
}
/* Options */
.login__options {
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
  justify-content: space-between;
}
.login__options__checkbox {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 0.2rem;
}
/* Button */
.login__btn {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  box-shadow: 1px 1px 4px #777;
  transition: background 0.3s ease;
}
.login__btn:hover {
  color: var(--main-color);
  background-color: #fff;
}
/* Account */
.login__account {
  font-size: 0.9rem;
}
/* Links */
.login__link {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
  transition: color 0.3s ease;
}
.login__link:hover {
  color: #fff;
}
