* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80");
  height: 100vh;
  background-color: #000;
  background-size: cover;
  background-position: center;
}
header {
  position: relative;
  padding: 0 2rem;
}
.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Links */
.navbar__links {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.link {
  text-decoration: none;
  font-size: 1rem;
}
.link__dropdown_menu,
.link__navbar {
  color: #fff;
}
.link__dropdown_menu:hover,
.link__navbar:hover {
  color: orange;
}
.link__navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar__toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.button {
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2s ease;
}
.button:hover {
  scale: 1.05;
}
.button:active {
  scale: 0.95;
}
.button__dropdown_menu,
.button__navbar {
  background-color: orange;
  color: #fff;
}
.button__dropdown_menu:hover,
.button__navbar:hover {
  color: #fff;
}

/* Dropdown Menu */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu--open {
  height: 240px;
}
.dropdown_menu__element {
  list-style: none;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__dropdown_menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Responsive Design */
@media (max-width: 992px) {
  .link__navbar {
    display: none;
  }
  .link__navbar-logo {
    display: block;
  }
  .navbar__toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}
@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}
/* Main */
.welcome {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.welcome h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.welcome p {
  max-width: 600px;
}
