.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: roboto, sans-serif;
  border: 2px solid #000;
  width: 7rem;
  height: 7rem;
  border-radius: 0.5rem;
}
