.testimonial-card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 2px 2px 5px #444;
}

/* Image */
.image {
  width: 100%;
}
.testimonial-card__image {
  display: flex;
  width: 18rem;
}

/* Info */
.testimonial-card__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18rem;
  gap: 0.4rem;
  padding: 1rem;
  text-align: center;
}
.information__name-country {
  font-size: 1.1rem;
}
.information__name,
.information__country,
.information__job-position,
.information__company {
  text-transform: capitalize;
}
.information__job-company {
  font-size: 1rem;
}
.information__testimonial {
  padding: 1rem 0;
  text-align: start;
}

@media (min-width: 1020px) {
  .testimonial-card {
    flex-direction: row;
  }
  .testimonial-card__image {
    width: 20rem;
  }
  .testimonial-card__information {
    width: 40rem;
    padding: 1.5rem;
  }
  .information__name-country {
    font-size: 1.2rem;
  }
  .information__job-company {
    font-size: 1.1rem;
  }
  .information__testimonial {
    text-align: justify;
    padding: 1rem 0;
  }
}
