* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.all_pricing_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2.5em;
}
.pricing_card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 19em;
  gap: 0.5rem;
  overflow: hidden;
  border-radius: 1.5rem;
  box-shadow: 2px 2px 6px #222;
}
/* Display Flex _ Flex Direction Colum - > df_fdc */
.df_fdc {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #000; */
}
.pricing_card__title {
  font-size: 1.5em;
}
/* Header */
.pricing_card__header {
  justify-content: center;
  height: 3.5rem;
  padding: 0 1rem;
}
/* Article -> Price */
.pricing_card__price {
  height: 3rem;
}
.price_element {
  width: 14rem;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 2px 2px 5px #223;
  border-radius: 0 2rem 2rem 0;
}
.price_text {
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.price_title {
  font-size: 1.3em;
}
/* Benefits */
.pricing_card__benefits {
  padding: 0.5rem 1rem;
  /* responsive? */
  min-height: 11rem;
}
/* Lists */
.pricing_card__list {
  list-style: none;
  gap: 0.5rem;
}
.pricing_card__list .list_element {
  display: flex;
  gap: 0.5rem;
  min-height: 1.5rem;
}
.pricing_card__hr {
  position: relative;
  top: 0;
  left: 1rem;
  width: calc(100% - 2rem);
}
/* Footer */
.pricing_card__footer {
  align-items: center;
  justify-content: center;
  height: 4rem;
}
button {
  border-width: 1px;
  border-radius: 1.5rem;
  font-size: 1.2em;
  letter-spacing: 1px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
.pricing_card__btn {
  background-color: transparent;
  box-shadow: 1px 1px 5px #fff;
  transition: background 0.6s ease, color 0.6s ease;
}
.pricing_card__btn:hover {
  box-shadow: 1px 1px 10px #fff;
  background: #fff;
  color: #000;
}
/* Color */
:root {
  --bg-color-basic: linear-gradient(
    to right top,
    #473b7b 0%,
    #3584a7 51%,
    #30d2be 100%
  );
  --bg-color-2: linear-gradient(to bottom left, #cc208e 0%, #6713d2 100%);
  --bg-color-3: linear-gradient(to top right, #e14fad 0%, #f9d423 100%);
}

.pricing_card {
  color: #fff;
}
.pricing_card__btn {
  color: #fff;
  border-color: #fff;
}
.pricing_card--basic {
  background-image: var(--bg-color-basic);
}
.pricing_card--standard {
  background-image: var(--bg-color-2);
}
.pricing_card--premium {
  background-image: var(--bg-color-3);
}
